/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: NCBI_DATA {
        maxForks = 2
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: MERGE_INPUTS {
        ext.args = ''
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/input/" },
            pattern: "*"
        ]
    }
    withName: CLASSIFY {
        ext.args = ''
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/input/" },
            pattern: "*"
        ]
    }
    withName: INPUT_QC {
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            [
                path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
                pattern: "*.jsonl.gz"
            ],
            [
                path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
                pattern: "*.jpg"
            ]
            
        ]
    }
    withName: CLUSTER {
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
            pattern: "*.jsonl.gz"
        ]
    }
    withName: MAFFT {
        publishDir = [
            path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/alignments" },
            pattern: "*.fa"
        ]
    }
    withName: CONSENSUS {
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: CONDENSE {
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [
            [
                path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
                pattern: "*.jsonl.gz"
            ]
        ]
    }
    withName: SUMMARY {
        container = 'public.ecr.aws/o8h2f0o1/epitome-base:2.0'
        publishDir = [ 
            [
                path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
                pattern: "*.jsonl.gz"
            ],
            [
                path: { "${params.outdir}/${taxon.replaceAll(' ','_')}/${segment}/" },
                pattern: "*.jpg"
            ]
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
